<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav-bar></nav-bar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-sidebar></app-sidebar>

    <!--contenido que va cambiar dinamicamente -->
    <router-outlet></router-outlet>
    <!--contenido que va cambiar dinamicamente -->

    <!-- footer -->
    <app-footer></app-footer>
    <!-- footer -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->