<div class="background">
    <div class="pestana-login">
        <div id="tarjeta" class="card card-outline">
            <div class="text-center">
                <h1 class="card-header">PetPlace</h1>
                <span>Admin</span>
            </div>
            <div class="card-body">
                <!-- Formulario Login -->
                <form autocomplete="off" [formGroup]="f" (ngSubmit)="login()">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Correo" formControlName="email"
                            [ngClass]="{'is-invalid':invalidField('email')}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">Porfavor rellene bien los campos</div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
                            [ngClass]="{'is-invalid':invalidField('password')}">
                        <div id="candadito" class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">Porfavor rellene bien los campos</div>
                    </div>

                    <div class="boton">
                        <button type="submit" class="btn btn-success btn-block p-2">Ingresar</button>
                    </div>
                </form>
                <!-- FIN Formulario Login -->
            </div>
        </div>
        <!-- /.card -->
    </div>

</div>